!!! 5
%html(lang="en-US")
  %head
    %title Triad Resources: Fritz Klumpp
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application"
  %body
    %header
      .wrapper
        %h1
          = link_to 'William &ldquo;Fritz&rdquo; Klumpp', "/"
        %h2
          Coaching
          %span •
          Training
          %span •
          Personal Development
        %nav
          %ul
            %li= link_to "Home", "/"
            %li= link_to "Meet Fritz", "/meet-fritz"
            %li= link_to "Coaching", "/coaching"
            %li= link_to "Speaking", "/speaking"
    %section.wrapper
      = yield
    %footer
      .wrapper
        %p= "&copy;#{Time.now().strftime('%Y')} Triad Resources"
        %p
          :javascript
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
            "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
            "\\\\,l=x.length;for(i=0;i<l;i++){y%=127;o+=String.fromCharCode(x.charCodeAt" +
            "(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\027\\\\\\\\033\\\\\\\\026\\\\\\\\00" +
            "3\\\\\\\\032\\\\\\\\035\\\\\\\\027\\\\\\\\016U\\\\\\\\013\\\\\\\\017\\\\\\\\"+
            "027tdnm,':f(axnj0R-}p{\\\\\\\\177`z,cjp{\\\\\\\\177nxm_E@PWLIOIC\\\\\\\\007" +
            "DNX\\\\\\\\022]ZR[WP@\\\\\\\\010sZYPV\\\\\\\\033ZOQR`'0*0?-+=$:;b.!\\\\\\\\" +
            "\\\"\\\\\\\\\\\\014sr'=!:2e\\\\\\\\005x\\\\\\\\0361<73@'\\\\\\\\020\\\\\\\\" +
            "n\\\\\\\\020\\\\\\\\037:EV,\\\\\\\\007\\\\\\\\n\\\\\\\\005\\\\\\\\001N)\\\\" +
            "\\\\002\\\\\\\\030\\\\\\\\006\\\\\\\\tHZ\\\\\\\\027IZPAKG\\\"\\\\,115)\\\"(" +
            "f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=" +
            "+l;x=+x{yrt{)29=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav" +
            "{)x(f noitcnuf\")"                                                           ;
            while(x=eval(x));
            //-->
            //]]>